<html>

    <head>
       
        <title>welcome</title> <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>

    
    <body>
        <div id='logo'>
            <h1>言変える</h1>
            <h2 id='kotoH'>こと</h2>
            <h2 id='kaeruH'>か</h2>
            <h2 id='kotoE'>Koto</h2>
            <h2 id='kaeruE'>Kaeru</h2>
        </div>
        
        <div class='leftcol'>
            <a class='button'>Update Log</a>
            <a class='button'>About</a>
            <a class='button' href='/playground'>Playground</a>
        </div>
        <div class='toprow'>
            <div class='col'>
                <a class='button colitem'>Learn</a>
                <a class='button colitem'>WIP</a>
                <a class='button colitem'>WIP</a>
            </div>
            <div class='col'>
                <a class='button colitem'>Databases</a>
                <a href='/verbdatabase' class='button colitem'>Verbs</a>
                <a class='button colitem'>WIP</a>
            </div>
            <div class='col'>
                <a class='button colitem'>Misc.</a>
                <a class='button colitem'>TBD</a>
                <a class='button colitem'>TBD</a>
            </div>
        </div>
    </body>

</html>