<html>

    <head>
       
        <title>playground</title> <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/playground.css') }}">
    </head>

    
    <body>
        <form action='/playground' method='post'>
            <label for='verb'>Enter a verb</label>
            <input type='text' id='verb' name='verb' placeholder='type verb' required>
            <button type='submit'>convert to te-form</button>
            
        </form>

            <h3>te-form: {{teVerb}}</h3>
        
    </body>

</html>